.compact-field-group {
  border: 1px solid #dbdbdb;
  display: block;
  padding: 5px 5px;
  border-radius: 3px;
  margin-bottom: 15px;

  &:hover, &:active, input:hover+label, input:active+label {
    border: 1px solid #63B0FF;
  }
    

  .compact-field-label {
    font-size: $size-small;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(138, 138, 138, 0.76);
  }

  .compact-field-input {
    font-size: $body-size;
    border: none;
    background: transparent;
    outline: none;
    display: block;
    width: 100%;
  }
}